.trainer {width:922px; min-width:922px; margin:0 auto; font-size:22px;}
.trainer > h2{display:block; margin-top:90px; margin-bottom:48px; text-align:center; font-size:24px; font-weight:700;}
.trainer .content {border-top:2px solid silver; border-bottom:2px solid silver;}
.trainer .content .box {display:flex; padding:38px 0; align-items:center; border-bottom:1px solid silver;}
.trainer .content .imgbox {width:346px;}
.trainer .content .imgbox .img_area {width:200px; height:200px; margin:0 auto; border-radius:100px; border:1px solid silver;}
.trainer .content .textbox {width:316px; height:100%; display:flex; flex-wrap:wrap; align-content:space-around; font-weight:700;}
.trainer .content .textbox h3 {margin:48px 0; line-height: 31px;}
.trainer .content .view {display: block; width: 156px; height: 49px; text-align: center; margin-left: 65px; line-height: 49px; background: #7cbdff; border-radius: 15px; color: #fff;}
.trainer .content .review {display:flex; width:100%; font-size:18px; font-weight:500; color:silver;}
.trainer .content .review .scopebox a {display:block;}
.trainer .content .review .scopebox .scope_area {width:100px; margin-right:11px;}
.trainer .content .review > span {margin-left:11px;}

/* 상세보기 */
.viewmore {position:relative; width:922px; min-width:922px; margin:0 auto; font-size:22px; font-weight:800; line-height:30px;}
.viewmore > h2 {display:block; margin-top:90px; margin-bottom:48px; text-align:center; font-size:24px; font-weight:700;}
.viewmore .content {position:relative; width:574px; padding:43px 33px; border-bottom:2px solid silver;}
.viewmore .content .imgbox {position: absolute; right: 32px; border-radius: 100px;}
.viewmore .content .textbox h3 {width:311px; margin-bottom:30px;}
.viewmore .content .textbox .review {width:265px; font-size:18px; font-weight:500; color:gray;}
.viewmore .content .textbox .review > span {margin-right:10px;}
.viewmore .content .textbox .review .heart {display:flex; align-items:center; float:right;     margin-right: 9px;}
.viewmore .content .textbox .review .heart a {display:block; width:30px; height:30px; margin-right:1px; margin-top: 7px;}
.viewmore .content .textbox .scopebox {margin-right:10px;}
.viewmore .content .textbox .scopebox a {display: block; width: 11px; height: 11px; margin-right: 7px;}
.viewmore .content h2 {margin:30px 0;}
.viewmore .content .sitro h3 {margin-bottom:30px; font-size:19px;}
.viewmore .content .sitro span {display:block; margin-bottom:30px; font-weight:500; margin-top: 15px;     font-size: 14;}
.viewmore .content .cfcate {font-size:19px;} 
.viewmore .btn {position: absolute; width: 222px; height: 55px; text-align: center; top: 175px; border-radius: 10px; right: 0px; background: #7cbdff; line-height: 37px; font-size: 19px; color: #fff;}
.viewmore .btn.inquiry {top:274px;}

/* 결제 */
.payment {width:922px; min-width:922px; font-size:22px; }
.payment > h2 {display:block; margin-top:90px; margin-bottom:48px;font-size:24px; font-weight:700;}
.payment > span {display:block; font-size:18px;}
.payment .content {margin-top:100px;}
.payment .content .point {display:flex; height:122px; padding-right: 500px; font-size:29px; justify-content:space-between;}
.payment .content .point.totalpoint {font-size:34px; font-weight:800;}
.payment .content .point.totalpoint span:nth-last-child(1) {color:red;}