<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="files">

	<select id="sequence" resultType="int">
		select files_seq.nextval from dual
	</select>
	
	<insert id="insert" parameterType="FilesDto">
		insert into files(files_no, files_original_name, files_type, files_size)  
		values(#{filesNo}, #{filesOriginalName}, #{filesType}, #{filesSize})
	</insert>
	
	<select id="memberProfile" resultType="FilesDto" parameterType="int">
		select * from files where files_no=#{filesNo}
	</select>
	
	<select id="petProfile" resultType="FilesDto" parameterType="int">
		select * from files where files_no=#{filesNo}
	</select>	
	
	<delete id="delete" parameterType="int">
		delete files where files_no=#{filesNo}
	</delete>
	
</mapper>